# * null options are defined as null.

{% for header in _firefly_order %}
# {{ header }}
{%   for section in _firefly_map | selectattr('value.section', '==', header) | sort(attribute='value.order') %}
{%     if not section.value.deprecated and section.value.keep %}
{%       if section.value.raw == 'null' %}
{{ section.value.key }}={{ section.value.raw }}
{%       elif section.value.hint == 'list of str' %}
{{ section.value.key }}={{ section.value.data }}
{%       elif section.value.key in ['REDIS_DB', 'REDIS_CACHE_DB'] %}
{{ section.value.key }}="{{ section.value.raw }}"
{%       else %}
{{ section.value.key }}={{ section.value.raw }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
